
.page-wrapping {
    display: flex;
    justify-content: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.section-about {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Allinea i due div al bordo superiore */
    margin-bottom: 5rem;
}

.section-title, .section-paragraph {
    color: $text;
    text-align: center;
}

.section-title {
    width: 30%;
    font-size: $h2;
}

.section-paragraph {
    width: 70%;
    font-size: $h6;
}