
html {
    font-size: 16px;
}

body {
    background-color: $background;
}

p, ul, li {
    color: $text;
}

p {
    font-size: $p;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
    padding-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    color: $text;
    margin-bottom: 1.5rem;
}

h1, .h1 {
    font-size: $h1;
}

h2, .h2 {
    font-size: $h2;
    border-bottom: 1px solid $header-border;
}

h3, .h3 {
    font-size: $h3;
    border-bottom: 1px solid $header-border;
}

h4, .h4 {
    font-size: $h4;
}

h5, .h5 {
    font-size: $h5;
}

h6, .h6 {
    font-size: $h6;
}